<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include("partials/head") %>

</head>
<body>

    <%- include("partials/navegation") %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">about</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate culpa sed itaque ipsam fugit libero deserunt. Illo aliquid quam mollitia laudantium quia corporis voluptatum quae? Nihil non id facere tenetur laborum beatae magni esse molestiae repellat, inventore et modi deserunt voluptas voluptates amet autem sed, ullam veritatis asperiores in ipsam veniam natus quis enim.
                 Consectetur temporibus debitis suscipit nemo, praesentium repellendus autem, corrupti quasi id, deserunt delectus beatae repellat. Delectus enim dicta libero accusamus consectetur adipisci! Reiciendis nostrum ex beatae saepe recusandae hic doloribus amet eos. Officiis laborum quisquam ducimus corporis adipisci, velit porro non veniam reiciendis molestias. Nostrum inventore 
                 fugiat quisquam atque, minus doloribus dolorum, commodi fugit, tenetur accusantium cum aliquam sint voluptate officia dicta optio tempore dolores minima? Nihil ipsa ullam cumque, accusantium reiciendis unde sint iste expedita animi explicabo, accusamus facilis ad illum et minus perspiciatis aliquid id sapiente inventore voluptate exercitationem repellendus! Assumenda vero 
                 ipsam sequi quos? Eos laudantium ut deleniti ullam eius dolorem adipisci quaerat sed voluptas beatae cumque dicta, quam voluptatum cum, numquam necessitatibus officiis sit quos. Sint, enim, delectus consectetur accusantium dignissimos quae repellendus libero culpa nam dicta aliquam ab inventore dolorum earum, laborum sequi. Tempore sed nulla molestiae omnis exercitationem 
                 excepturi fugiat quibusdam neque! Aperiam quo perspiciatis adipisci assumenda dolore neque. Modi error soluta aperiam laboriosam repellat hic eaque tempore qui exercitationem ex laborum laudantium pariatur, alias facilis quasi velit neque delectus assumenda aliquam iusto magni, voluptas in! Minima, iure et iusto architecto itaque, delectus maxime molestiae voluptatum dolorum 
                 sit amet voluptate molestias dicta consequatur rem illum saepe alias. Blanditiis minima omnis reiciendis. Consequatur ipsum itaque minus provident ullam at doloribus ipsam, voluptates ad eius possimus quisquam non voluptate repudiandae iste! Voluptatum, eaque maxime labore dolores cum voluptates sapiente doloremque explicabo doloribus sequi reprehenderit? Sed quia, impedit 
                 pariatur animi quidem magnam perspiciatis?
                </p>
        </section>
    </main>
    <%- include("partials/footer") %>
</body>
</html>