<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fazt Website</title>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/navegation") %>

<!--main content--> 
<header class="container">
  <div class="bg-darck d-flex flex-column justify-content-center align-items-center">
    <img src="/img/img-logo.png" class="w-35 m-auto" alt="Website Logo">
    <h1 class="display-1 my-5 text-uppercase font-weight-bold">Fazt</h1>
    <a href="/about" class="btn btn-primary w-25">About Us</a>
  </div>
</header>

<main class="container">
  <!-- Contenido principal aquí -->
</main>

         <%- include("partials/footer") %>     
</body>
</html>